////////////////////////////////////////////////////////////
///////////////////////////////////////////////////// COLORS
////////////////////////////////////////////////////////////
$colorBurntOrange: #CF5300;
$colorWhite: #FFF;
$colorBlack: #000;
$colorStoneGray: #AAA;