// bower:scss
// endbower

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.display-container {
    width: 70em;
    min-height: 40em;
    margin: 2em auto;
    border: 1px solid black;
    position: relative;

    & .character {
        height: 4em;
        width: 4em;
        position: absolute;
        left: 5em;
        bottom: 5em;
        background: rgba(255,255,255,0);

        transition: all .2s ease-out;
    }
}

////////////////////////////////////////////////////////////
///////////////////////////////////////////////// BACKGROUND
////////////////////////////////////////////////////////////
.background {
    height: 40em;
    background: url('../images/background-natural.png') repeat-x;
}

////////////////////////////////////////////////////////////
////////////////////////////////// SPRITE / SPRITE ANIMATION
////////////////////////////////////////////////////////////
.sprite {
    position: absolute;
    left: 0;
    bottom: 0;
}

.sprite-stand-forward {
    width: 190px;
    height: 215px;
    background-image: url('../images/mm-sprite-stand-forward.png');
}

.sprite-stand-backward {
    @extend .sprite-stand-forward;

    background-image: url('../images/mm-sprite-stand-backward.png');
}

.sprite-jump-forward {
    @extend .sprite-stand-forward;
    background-image: url('../images/mm-sprite-jump-forward.png');
}

.sprite-jump-backward {
    @extend .sprite-stand-forward;
    background-image: url('../images/mm-sprite-jump-backward.png');
}

.sprite-run-forward {
    @extend .sprite-stand-forward;

    background-image: url('../images/mm-spritesheet-run-forward.png');
}

.sprite-run-backward {
    @extend .sprite-stand-forward;

    background-image: url('../images/mm-spritesheet-run-backward.png');
}

.sprite-animate {
    -webkit-animation: sprite-animate .6s steps(4) infinite;
            animation: sprite-animate .6s steps(4) infinite;
}

@-webkit-keyframes sprite-animate {
   from { background-position:    0px; }
     to { background-position: -760px; }
}

@keyframes sprite-animate {
   from { background-position:    0px; }
     to { background-position: -760px; }
}
