// bower:scss
// endbower

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.display-container {
    width: 70em;
    min-height: 40em;
    margin: 2em auto;
    border: 1px solid black;
    position: relative;

}

////////////////////////////////////////////////////////////
////////////////////////////////// SPRITE / SPRITE ANIMATION
////////////////////////////////////////////////////////////
.sprite {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.sprite-stand-forward {
    width: 11.875em;
    height: 13.4375em;
    background-image: url('../images/mm-sprite-stand-forward.png');
}

.sprite-stand-backward {
    @extend .sprite-stand-forward;

    background-image: url('../images/mm-sprite-stand-backward.png');
}


.sprite-run-forward {
    @extend .sprite-stand-forward;

    background-image: url('../images/mm-spritesheet-run-forward.png');
}

.sprite-run-backward {
    @extend .sprite-stand-forward;

    background-image: url('../images/mm-spritesheet-run-backward.png');
}

.sprite-animate {
    -webkit-animation: sprite-animate .6s steps(4) infinite;
            animation: sprite-animate .6s steps(4) infinite;
}

@-webkit-keyframes sprite-animate {
   from { background-position:    0em; }
     to { background-position: -47.5em }
}

@keyframes sprite-animate {
   from { background-position:    0em; }
     to { background-position: -47.5em; }
}

////////////////////////////////////////////////////////////
/// !IMPORTANT! ////////////////////////////////////////////
// Jump images must be below the other backgrounds in order 
// to override them when added on "jump" ///////////////////
////////////////////////////////////////////////////////////

.sprite-jump-forward {
    @extend .sprite-stand-forward;
    background-image: url('../images/mm-sprite-jump-forward.png');
}

.sprite-jump-backward {
    @extend .sprite-stand-forward;
    background-image: url('../images/mm-sprite-jump-backward.png');
}


////////////////////////////////////////////////////////////
///////////////////////////////////// BACKGROUND / PLATFORMS
////////////////////////////////////////////////////////////

.platform {
    height: 7.8125em;
    width: 11.875em;
    border-top: 1px solid red;
    border-left: 1px solid red;
    background: red;
    position: absolute;
    right: 0;
    bottom: 0;
}
.platform2 {
    height: 7.8125em;
    width: 11.875em;
    background: red;
    position: absolute;
    right: 14em;
    bottom: 6.5em;
}