// bower:scss
// endbower

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.display-container {
    width: 40em;
    min-height: 40em;
    margin: 2em auto;
    border: 1px solid black;
    position: relative;

    & .character {
        height: 5em;
        width: 5em;
        position: absolute;
        left: 5em;
        bottom: 5em;
        background: #4d4dff;

    }
}
